#header {
    position:fixed;
    top:0px;
	width: 100%;
	background-color:white;
	padding-top:1em;
}

#content_container {
    padding-top:3em;
}

#frmSlider{
	float:right;
	width:200px;
	height:15px;
	padding-right:1em;
		
}

 * {
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  }

.thumb_img_div {
	/*display: inline;*/ 
	float: left;	
	width: 160px;
	margin-right: 15px;
	
}

.thumb_link_div {
	text-align: center; 
	max-width: 100%; 
	overflow: hidden; 
	white-space: nowrap;	
}

.thumb_img {
	width: 100%;
}