#__processPdfDlg {
	background-color:#FFFFFF;
}

__tabpanel {background-color: white;}
row:nth-child(odd).alternatingColor    { background-color: #d8d8d8; }
row:nth-child(even).alternatingColor    { background-color:#d0d0d2; }

richlistitem:nth-child(odd).alternatingColorRlb    { background-color: #e7e2e7; }
richlistitem:nth-child(even).alternatingColorRlb    { background-color:#c2c2c5; }
richlistitem[selected].alternatingColorRlb  { background-color:#0080c0;  }

.droparea:-moz-drag-over {
  border: 1px solid black;
}

.men_favfolder{
	list-style-image: url(chrome://printPages2Pdf/skin/folderClosed.png);		
}

image[type="unknown"] {
	list-style-image: url(chrome://printPages2Pdf/skin/link.png);		
}
image[type="frame"] {
	list-style-image: url(chrome://printPages2Pdf/skin/frame.png);		
}
image[type="bookmark"] {
	list-style-image: url(chrome://printPages2Pdf/skin/bookmark.png);		
}
image[type="scrapbook"] {
	list-style-image: url(chrome://printPages2Pdf/skin/scrapbook.png);		
}
image[type="browsertab"] {
	list-style-image: url(chrome://printPages2Pdf/skin/browsertab.png);		
}
image[type="toc"] {
	list-style-image: url(chrome://printPages2Pdf/skin/contentBook.png);		
}



button.imageOnly {
	border-width:2px;
	margin: 0px;
	min-width:0px;
	padding: 0px;
	-moz-appearance:none;
	-moz-border-radius:15%;
}

button.imageOnly > hbox {
	padding: 1px;
	
}

.textrow > label {
	border-style:inset;
	font-weight: bolder;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top:3px;
	text-align:center;
}


/*
.textrow > label {
	border-style:inset;
	border-width:2;
	font-weight: bolder;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:10px;
}

*/


.helpmenuitem
{
    list-style-image: url("chrome://printPages2Pdf/skin/symbol_help24.png");  
}


[name="PdfProcessButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/document-convert.png);	
}
[name="PdfStopProcessButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/stop.png);	
}


[name="PdfSaveButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/save.png);	
}

[name="GlobalPropsButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/properties.png);	
}

.lblLine {
	border-bottom-color:#333333;
	border-bottom-style:solid;
	height: 1px;	
}

[name="ItemsUpButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/up.png);	
}
[name="ItemsDownButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/down.png);	
}
[name="ItemsRemoveButton"]{
	list-style-image: url(chrome://printPages2Pdf/skin/remove.png);	
}
#ClearProgressButton{
	list-style-image: url(chrome://printPages2Pdf/skin/remove.png);	
}

.propIcon{
	list-style-image: url(chrome://printPages2Pdf/skin/properties.png);	
}

.editIcon{
	list-style-image: url(chrome://printPages2Pdf/skin/edit.png);	
}


.busyimage{
	display: list-item;
}

.busyimage[state="busy"]{
	list-style-image: url(chrome://printPages2Pdf/skin/icon_loading_75x75.gif);	
}

.busyimage[state="static"]{
	list-style-image: url(chrome://printPages2Pdf/skin/icon_loading_75x75_static.gif);	
}


.meter { 
	-moz-appearance: none;
	height: 10px;  /* Can be anything */
	-moz-border-top-colors: #777;
	-moz-border-bottom-colors: #777;
	-moz-border-left-colors: #777;
	-moz-border-right-colors: #777;
	border-width: 2px;
	border-style: inset;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 2px;
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

		
.meter > .progress-bar {
	-moz-appearance: none;
	display: block;
	height: 100%;
	background-color: rgb(43,194,83);

	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;

	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );

	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.orange > .progress-bar {
	background-color: #f1a165;
}

.red > .progress-bar {
	background-color: #fb0000;
}

.nostripes > .progress-bar {
	background-image: none;
}

#btPreview
{
	font-size:0px;
	min-height:12px;
	-moz-appearance:resizer;
/*	cursor:col-resize;*/	
	cursor:alias;	
	
}
				